@model IEnumerable<POEPart3.ModuleStudyRecord>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Index.css" />

<body class="body">
    <div class="background-container">
        <h1 class="display-3 text-left p-3">Module Records</h1>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ModuleCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoursWorked)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HoursLeft)
                    </th>
                    @*                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.Module.ModuleId)
                    </th> *@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModuleCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursWorked)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoursLeft)
                        </td>
                        @*                    <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.ModuleId)
                    </td> *@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.RecordId" class="btn btn-sm btn-primary btn-outline-light btn-color">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.RecordId" class="btn btn-sm btn-info btn-outline-light btn-color">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.RecordId" class="btn btn-sm btn-danger btn-outline-danger btn-color">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <button class="btn btn-primary btn-sm btn-outline-light btn-color" onclick="location.href='@Url.Action("Create")'">Create New</button>
        </p>
    </div>
</body>